html{
    scroll-behavior: smooth;
}

body{
    background-image: url(Img/wovlerinebackground.jpg);
    background-color: black;
    font-family:Arial, Helvetica, sans-serif;
    line-height: 1.5;
    background-attachment: fixed;
    background-size: cover;
}


#container{
    background-color:#1d2358;
    
    width:90%;             
    max-width: 1200px;
    margin:0 auto; 
    padding:1.2rem;
    border-radius:1.5rem;
    box-shadow: 5px 9px 9px 5px #8b2322 ;
}


#wrapper{
    background-color: #dddddd;
    border-radius:1.9rem;                                                                                            
    padding:1.2rem;
    margin:0 auto;
    max-width: 960px;
}




#pageheader{
    background-color:#ffb40f;
    min-height:250px;
    padding:1rem;
    border-radius: 1.5rem 1.5rem 0 0;
    background-image: url(Img/wolverineHOT.png);
    background-repeat: no-repeat;
    background-size: 950px 300px;
    
    
}

#logo{
    width:150px;
    height:150px;
    background-color: none;
    border-radius:50%;
    padding:1.5rem;
    box-sizing:border-box;
    position: relative;
    right:25px;
    top:-25px;
    /* background-image: url(Img/awesomelogo3.jpg); */
    background-size: cover;
}


blockquote{
    text-align: center;
    font-size: 24px;
    font-weight: bolder;
    color: burlywood;
    text-shadow: 2px 2px 2px black;
}

#quote{
   
    text-align: right;
    color: burlywood;
    text-shadow: 1px 1px 1px black;
    width:80%;
    margin: auto;
}


#pagenav{
    background-color: #a30302;
    padding:1rem;
    color:black;
    text-shadow: 1px 1px 1px black;
     border-top: 3px solid black;
     border-bottom: 3px solid black;
    text-align: center;
   
}


    #pagenav a{
        color:black;
        text-decoration: none;
    }

    #topnav{
    background-color: #a30302;
    color:brown;
    text-shadow: 1px 1px 1px black;
    padding: 1rem;
    text-align: center;
   border-top: 1px solid white;
   
   
}





#media{
    min-height: 250px;
    background-color: #a30302;
    padding:1rem;
    color:burlywood;
    text-shadow: 1px 1px 1px black;

}

/* iframe{
    width:80%;
    background-color: white;
    aspect-ratio:16/9;
    margin:auto;
    display:block;
} */

#pagemain{
    min-height:250px;
    padding:1rem;
    background-color: #a30302;
    min-height: 800px;
    background-image: url(Img/wolverinePOSING.png); background-repeat: no-repeat;
    background-position: center;
    background-size: 700px;
    
}

#pagemain p{
    position: relative;
    top: 600px;
}


img#heroimage{
    max-width:50%;
    margin:auto;
    display:block;
    border-radius: 1rem;
}



#career{
    background-color: #a30302;
    color:burlywood;
    text-shadow: 1px 1px 1px black;
    padding: 1rem;
    min-height: 200px;
}

.semester{
    background-color: bisque;
    min-height:200px;
    padding: 1rem;
    color:burlywood;
    text-shadow: 1px 1px 1px black;
    border-top:1px solid white;
}


#semester1{
    background-color: #a30302;
}


#semester2{
    background-color: #a30302;
}


#pagefooter{
    background-color: #a30302;
    color:burlywood;
    text-shadow: 1px 1px 1px black;
    padding: 1rem;
    text-align: center;
   border-top: 1px solid white;
   
}

#pagefooter a{
    color: black;
}

#singlealmond{
    /* background-image: url(Img/singlealmond.png); */
    position: relative;
    width: 125px;
    height: 190px;
    background-repeat: no-repeat;
   left:-120px ;
   transform: rotate(25deg);
   top: -300px;

}

#subfoooter{
    background-color: #a30302;
    color:burlywood;
    text-shadow: 1px 1px 1px black;
    padding: 1rem;
    text-align: center;
    min-height: 200px;
    border-radius: 0 0 1.5rem 1.5rem;
    border-top: px solid white;
    
    position: relative;
    background-size: 900px;
    background-position-y: 170px ;
}
a{
    color:white;
    text-decoration: none;

}
a:hover{
    color:burlywood;
    text-shadow: 1px 1px 1px black;
}
button{
    padding: .2rem;
    background-color: white;
   
  
}

button:hover{
 background-color: darkgreen;
}

#selstylesheet {
    position: absolute;
    top: 10px;
    right: 10px;
}


